<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product Id="*" Name="NoName" Version="1.0.0"
             Manufacturer="Toi" Language="1033"
             UpgradeCode="be2c1fd9-c47c-44c8-9c23-ee7f459c17e6">

        <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
        <MediaTemplate EmbedCab="yes"/>

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="NoName">

                    <Component Id="launcher" Guid="c5e5a2f1-6789-4b1a-8e9d-f2a3b4c5d6e7">
                        <File Id="LauncherBAT" Source="launch-windows-release.bat" KeyPath="yes">
                            <Shortcut Id="DesktopShortcut"
                                      Directory="DesktopFolder"
                                      Name="NoName"
                                      WorkingDirectory="INSTALLDIR"
                                      Advertise="yes" />
                            <Shortcut Id="ProgramMenuShortcut"
                                      Directory="ProgramMenuFolder"
                                      Name="NoName"
                                      WorkingDirectory="INSTALLDIR"
                                      Advertise="yes" />
                        </File>
                    </Component>

                    <Component Id="server" Guid="8af092ce-98ea-49cc-93ca-aaf6d23113ad">
                        <File Id="ServerEXE" Source="server.exe" KeyPath="yes"/>
                    </Component>

                    <Component Id="machine" Guid="79847186-826e-4ed9-b2c7-5a96856500a3">
                        <File Source="machine.exe" KeyPath="yes"/>
                    </Component>

                    <Component Id="warden" Guid="2efc68aa-2e6a-4231-845f-dabafaad0f13">
                        <File Source="warden.exe" KeyPath="yes"/>
                    </Component>

                    <Component Id="interface" Guid="2fe0e64c-1f55-4203-a82c-0ae154bbfd21">
                        <File Id="InterfaceEXE" Source="interface.exe" KeyPath="yes" />
                    </Component>

                    <Component Id="Startup" Guid="b9981cf2-b75c-4eeb-9c98-57b02f0a639b">
                        <RegistryValue
                            Root="HKCU"
                            Key="Software\Microsoft\Windows\CurrentVersion\Run"
                            Name="NoName"
                            Type="string"
                            Value="[INSTALLDIR]launch-windows-release.bat"
                            KeyPath="yes"/>
                    </Component>

                </Directory>
            </Directory>
            <Directory Id="DesktopFolder" Name="Desktop" />
            <Directory Id="ProgramMenuFolder" Name="Programs" />
        </Directory>

        <Feature Id="Main" Level="1">
            <ComponentRef Id="launcher"/>
            <ComponentRef Id="server"/>
            <ComponentRef Id="machine"/>
            <ComponentRef Id="warden"/>
            <ComponentRef Id="interface"/>
            <ComponentRef Id="Startup"/>
        </Feature>

    </Product>
</Wix>